/* The actual badge style to display on the left */

/**
* Enable this to display the badge on the left side
*/
#feedback-badge {
	display:none;
	background: url('../img/feedback.png') no-repeat;
	width: 39px;
	height: 164px;
	margin-left:-13px;
}

#feedback-badge:hover {
	margin-left:-11px;
}

#feedback-badge:active {
	margin-left:-15px;
}

#feedback-badge span {
	display: none;
}


/* feedback form */
#feedback-form-inner input, #feedback-form-inner textarea {
    width: 90%;
}
#feedback-form, #feedback-form fieldset, #feedback-form .actions {
    margin-bottom: 0;
}
