/* The actual badge style to display on the left */

/**
* Enable this to display the badge on the left side
*/
#feedback-badge {
	display:none;
	background: url('../img/feedback.png') no-repeat;
	width: 25px;
	height: 145px;
	margin-left:-2px;
}

#feedback-badge:hover {
	margin-left: 0px;
}

#feedback-badge:active {
	margin-left: -4px;
}

#feedback-badge span {
	display: none;
}


/* feedback form */
#feedback-form-inner input, #feedback-form-inner textarea {
    width: 90%;
}
#feedback-form, #feedback-form fieldset, #feedback-form .actions {
    margin-bottom: 0;
}
