<!DOCTYPE html>{% load i18n feedback_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}КІНАКЛУБЫ / {% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Le styles -->
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/feedback.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/kkb.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/nmodal.css" media="all">
    <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.reveal.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.feedbackBadge.min.js" type="text/javascript"></script>
    <link rel="alternate" type="application/rss+xml" title="{% trans "Blog via RSS" %}" href="{% url blog_feed_rss %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans "Blog via ATOM" %}" href="{% url blog_feed_atom %}" />

    {% block extrahead %}{% endblock %}
    <script type="text/javascript">
      $(document).ready(function() {
        // Feedback button
        $('#feedback-badge').feedbackBadge();

        // Dropdown for topbar nav
        // ===============================

        $("body").bind("click", function (e) {
          $('a.menu').parent("li").removeClass("open");
        });

        $("a.menu").click(function (e) {
          var $li = $(this).parent("li").toggleClass('open');
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
	<div class="container fixed">
	  <h3><a id="kinakluby" href="/">КІНАКЛУБЫ /&nbsp;</a><span>{% block header %}{% endblock %}</span></h3>
	  <ul class="nav">
	    {% url minsk as upcoming_url %}{% if request.path != upcoming_url %}<li><a href="{{ upcoming_url }}">Галоўная</a></li>{% endif %}
	    {% url cinemaclub_list as list_url %}{% if request.path != list_url %}<li><a href="{{ list_url }}">Спіс кінаклубаў</a></li>{% endif %}
	    {% url calendar as calendar_url %}{% if request.path != calendar_url %}<li><a href="{{ calendar_url }}">Календар</a></li>{% endif %}
	    {% url blog_posts as blog_url %}{% if request.path != blog_url %}<li><a href="{{ blog_url }}">Блог</a></li>{% endif %}
	  </ul>
	  <ul class="nav secondary-nav">
            <li class="menu">
              <a id="session" class="menu" href="#">
		{% if user.is_authenticated %}
		  <img src="{{ user.soc_avatar }}" width="20px" height="20px" />{{ user.soc_username }}
		{% else %}
		  {% trans "Social login" %}
		{% endif %}
	      </a>
              <ul class="menu-dropdown">
		{% if user.is_authenticated %}
		  {% if user.is_staff %}
     		    <li><a href="/admin/">{% trans "Admin" %}</a></li>
		  {% endif %}
   		  <li><a href="logout/">{% trans "Logout" %}</a></li>
		{% else %}
		  <li><a class="menulogin" href="{% url kkb_socialauth_begin "vkontakte-oauth2" %}?next={{ request.get_full_path }}"><img src="{{ STATIC_URL }}img/vkontakte_100.png" /> {% trans "Vkontakte" %}</a></li>
		  <li><a class="menulogin" href="{% url kkb_socialauth_begin "twitter" %}?next={{ request.get_full_path }}"><img src="{{ STATIC_URL }}img/twitter_100.png" />{% trans "Twitter" %}</a></li>
		  <li><a class="menulogin" href="{% url kkb_socialauth_begin "facebook" %}?next={{ request.get_full_path }}"><img src="{{ STATIC_URL }}img/facebook_100.png" />{% trans "Facebook" %}</a></li>
                  <li class="divider"></li>
		  <li><a class="menulogin" href="#" data-reveal-id="auth-openid"><img src="{{ STATIC_URL }}img/openid_20.png" />{% trans "Open ID" %}</a></li>
		{% endif %}
              </ul>
            </li>
	  </ul>
	</div>
      </div>
    </div>

      <div class="container">
	<div class="content">
	  <div class="page-header">
	    {% block masterhead %}
	      <h1>Кінаклубны рух Мінска і Беларусі</h1>
	    {% endblock %}
	  </div>
	  {% block allcontent %}{% endblock %}
	</div>

	<footer>
          <p>Stas Rudakou, Dzianis Sheka 2011</p>
	</footer>
      </div>
      
      <div id="auth-openid" class="reveal-modal nmodal">
	<div class="modal-header">
	  <h3>{% trans "Login via OpenID" %}:</h3>
	  <a class="close-reveal-modal close" href="#">×</a>
	</div>
	<div class="modal-footer">
	  <form action="{% url kkb_socialauth_begin "openid" %}" method="post">{% csrf_token %}
	    <div class="soc-auth-buttons">
	      <div class="openid-identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" class="btn primary" value="{% trans "Login" %}" /></div>
	      <input type="hidden" name="next" value="{{ request.get_full_path }}" />
	    </div>
	  </form>
	</div>
      </div>
      <div id="feedback-popup" class="reveal-modal nmodal">
	{% feedback_form %}
      </div>

      <a href="#" title="Give us feedback" id="feedback-badge" data-reveal-id="feedback-popup"><span>Feedback</span></a>
      {% block bottom %}{% endblock %}
      {% include "piwik.html" %}
  </body>
</html>
