{% extends "bootstrap.html" %}{% load i18n %}

{% block header %}{{ block.super }}МІНСКА{% endblock %}
{% block title %}{{ block.super }}МІНСКА{% endblock %}

{% block content %}
<h2>Календар</h2>
<dl>
	<dd>
		<h3>Панядзелак</h3>
	</dd>
	<dt>
		<div class="row media_grid">
			<a href="#"><img class="span3 columns" src="/site_media/media/eventscache/modelimg/moon_poster_display.jpg"  /></a>
			<div class="span13 columns">
				<ul class="unstyled">
					<li>
						<h4>Прагляд кіно у галерэі</h3>
					</li>
					<li>
						Арганізатар: Кінаклуб.орг
						
					</li>
				</ul>
			</div>
		</div>
	</dt>
	<dt>
		<div class="row">
			<img class="span3 columns" src="/site_media/media/eventscache/modelimg/moon_poster_display.jpg"  />
			<div class="span13 columns">
				<ul class="unstyled">
					<li>
						<h4>Прагляд кіно у галерэі</h3>
					</li>
					<li>
						Арганізатар: Кінаклуб.орг
					</li>
				</ul>
			</div>
		</div>
	</dt>
	<dd>
		<h3>Аўторак</h3>
	</dd>
	<dt>
		<div class="row">
			<a href="#"><img class="span3 columns" src="/site_media/media/eventscache/modelimg/moon_poster_display.jpg"  /></a>
			
			<div class="span13 columns">
				<ul class="unstyled">
					<li>
						<h4>Прагляд кіно у галерэі</h3>
					</li>
					<li>
						Арганізатар: Кінаклуб.орг
					</li>
				</ul>
			</div>
		</div>
	</dt>
	<dt></dt>
	<dd>
		<h3>Серада</h3>
	</dd>
	<dt></dt>
	<dt></dt>
	
</dl>
{% endblock %}

