{% extends "bootstrap.html" %}{% load i18n %}

{% block header %}{{ block.super }}МІНСКА{% endblock %}
{% block title %}{{ block.super }}МІНСКА{% endblock %}

{% block content %}
<h2>Календар</h2>
<dl>
  {% for day, day_list in days_dict.iteritems %}
	<dd>
		<h3>{{ day }}</h3>
	</dd>
	<dt>
		{% for event in day_list %}
		<div class="row media_grid">
			<a href="#"><img src="{{ MEDIA_URL }}{{ event.poster }}" width="150px" /></a>
			<div class="span13 columns">
				<ul class="unstyled">
					<li>
						<h4>{{ event.name }}</h3>
					</li>
					<li>
						Арганізатар: {{ event.organizer }}
						
					</li>
				</ul>
			</div>
		</div>
                {% endfor %}
	</dt>

  {% endfor %}
</dl>
{% endblock %}

