{% extends "bootstrap_whead_12_4.html" %}

{% load markup comments %}

{% block header %}{{ block.super }}{{ cinemaclub.name_short|upper }}{% endblock %}
{% block title %}{{ block.super }}{{ cinemaclub.name_short|upper }}{% endblock %}

{% block masterhead %}
  <div class="row">
    <img class="span3 columns" src="{{ MEDIA_URL }}{{ cinemaclub.logo }}" />
    <div class="span13 columns">
      <h2>{{ cinemaclub.name }}</h2>
      {% if cinemaclub.url %}<a href="{{ cinemaclub.url }}">{{ cinemaclub.url }}</a><br />{% endif %}
      <i>{{ cinemaclub.mission }}</i>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="markdown-main">
      {{ cinemaclub.description|markdown }}
    </div>
    <div id="comments">
      {% render_comment_list for cinemaclub %}
      <div id="addcomment">
	{% render_comment_form for cinemaclub %}
      </div>
    </div>
{% endblock %}

{% block sidecontent %}
    <h5>Надыходзячыя падзеі:</h5>
    {% if upcoming_events %}
      <ul class="unstyled">
        {% for event in upcoming_events %}
        <li>
  	  <b>{{ event.starts_at|date:"j E Y г. G:i" }}</b><br>
	  <h4 class="event-or-cinemaclub-name">
	    <a href="{% include "cinemaclubs/snippet_event_url.html" %}">{{ event.name }}</a>	
	  </h4>
	  <a href="{% include "cinemaclubs/snippet_event_url.html" %}">
	    <img src="{{ MEDIA_URL }}{{ event.poster }}" width="220px" />
	  </a>
	</li>
	{% endfor %}
      </ul>
    {% else %}
      няма
    {% endif %}

    {% if past_events %}
      <h5>Мінулыя падзеі:</h5>
      <ul>
	{% for event in past_events %}
	<li>
	  <h4 class="event-or-cinemaclub-name">
	    <a href="{% include "cinemaclubs/snippet_event_url.html" %}">{{ event.name }}</a>	
	  </h4>
	</li>
	{% endfor %}
      </ul>
    {% endif %}
{% endblock %}

