{% extends "base.html" %}{% load i18n cinemaclubs_tags %}

{% block header %}{{ block.super }}КАЛЕНДАР{% endblock %}
{% block title %}{{ block.super }}КАЛЕНДАР{% endblock %}

{% block content %}
<dl>
  {% for day, day_list in days_list %}
  <dd>
    <h2>{{ day|display_date_and_weekday }}</h2>
  </dd>
  <dt>
    {% for event in day_list %}
    <div class="row media_grid">
      <div class="span12 offset1 columns">
	<h4><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h4>
	<p>
	  <i>{{ event.short_description|linebreaksbr }}</i>
	  <a href="{{ event.get_absolute_url }}"><i>(чытаць далей)</i></a>
	</p>
        <p>Арганізатар: <a href="{{ event.organizer.get_absolute_url }}">{{ event.organizer }}</a></p>
	<p>Пачатак: {{ event.starts_at|date:"j E, G:i" }}</p>
      </div>
      <a href="{{ event.get_absolute_url }}" class="span3"><img src="{{ event.poster_span3.url }}" width="150px" /></a>
    </div>
    {% endfor %}
  </dt>
  {% endfor %}
</dl>
{% endblock %}

