{% extends "base_whead_11_5.html" %}

{% load markup comments %}

{% block header %}{{ block.super }}{% if event.organizer %}{{ event.organizer.name_short|upper }}{% else %}МІНСКА{% endif %}{% endblock %}
{% block title %}{{ block.super }}{% if event.organizer %}{{ event.organizer.name_short|upper }}{% else %}МІНСКА{% endif %}{% endblock %}

{% block masterhead %}
  <div class="row">
    {% if event.organizer %}
    <img class="span3 columns" src="{{ event.organizer.logo_span3.url }}"  />
    {% endif %}
    <div class="span13 columns">
      <h2>{{ event.name }}</h2>
      {% if event.organizer %}
      Арганізатар: <a href="{% url cinemaclub_about event.organizer.slug %}">{{ event.organizer.name }}</a>:<br />
      {% endif %}
      Пачатак: <span>{{ event.starts_at|date:"j E Y г. G:i" }}</span><br />
      {% if event.ends_at %}Канец: {{ event.ends_at|date:"j E Y г. G:i" }}{% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="markdown-main">
      {{ event.description|markdown }}
    </div>
    <div id="comments">
      {% render_comment_list for event %}
      <div id="addcomment">
	{% render_comment_form for event %}
      </div>
    </div>
{% endblock %}

{% block sidecontent %}
    <img src="{{ event.poster_span5.url }}" width="280px" />
{% endblock %}

