{% extends "base.html" %}

{% load markup cinemaclubs_tags %}

{% block header %}{{ block.super }}{% if event.organizer %}{{ event.organizer.name_short|upper }}{% else %}МІНСКА{% endif %}{% endblock %}
{% block title %}{{ block.super }}{% if event.organizer %}{{ event.organizer.name_short|upper }}{% else %}МІНСКА{% endif %}{% endblock %}

{% block content %}

<div class="cinemaclubevent-header">
  {% if event.organizer %}
      <img src="{{ MEDIA_URL }}{{ event.organizer.logo }}" class="logo" />
  {% endif %}
  <h3>{{ event.name }}</h3>
  {% if event.organizer %}
      Арганізатар: <a href="{% url cinemaclub_about event.organizer.slug %}">{{ event.organizer.name }}</a>:<br />
  {% endif %}
  Пачатак: <span class="datetime">{{ event.starts_at }}</span><br />
  {% if event.ends_at %}Канец: {{ event.ends_at }}{% endif %}

<div style="clear: both"></div>
</div>

<div class="markdown-main">
{{ event.description|markdown }}

{% custom_comments_tree event %}

</div>

<div class="photocolumn">
<img src="{{ event.poster_display.url }}" width="300px" />
</div>

<div style="clear: both"></div>
{% endblock %}

