{% extends "base.html" %}

{% block header %}{{ block.super }}МІНСКА{% endblock %}
{% block title %}{{ block.super }}МІНСКА{% endblock %}

{% block content %}
<h2 class="sect">
  <span class="h2links"><a href="#">УСЕ ПАДЗЕІ</a> / <a href="#">КАЛЕНДАР</a></span>
  ПАДЗЕІ
</h2>

{% for chunk in upcoming_events_chunks %}
<div class="homeevents">
  {% for event in chunk %}
  <div class="homeevent{% if forloop.last %}last{% endif %}">
    <a href="{% include "cinemaclubs/snippet_event_url.html" %}">	<img src="{{ event.poster_thumbnail.url }}" class="detailsimg" />
    </a>
    <h3>

      <b>{{ event.starts_at}}</b><br>
    </h3>
    <!-- event name -->
    <h4>
      <a href="{% include "cinemaclubs/snippet_event_url.html" %}">{{ event.name|upper }}</a>	
    </h4>
    <!-- event description -->
    <p>{{ event.short_description }}

      <a href="{% include "cinemaclubs/snippet_event_url.html" %}" class="more">(чытаць далей)</a>
    </p>
  </div>
  {% endfor %}

  <div style="clear: both"></div>
</div>

{% endfor %}

<div class="homecinemaclubs">
  <div class="homecinemaclub">
    <h2 class="sectin">КІНАКЛУБЫ</h2>
  </div>
{% for cc in cinemaclubs %}
	<div class="homecinemaclub">
	  <img src="{{ MEDIA_URL }}{{ cc.logo }}" />
	  <h4 class="home-cinemaclub-about"><a href="{% url cinemaclub_about cc.slug %}">{{ cc.name }}</a></h4>
	</div>

{% endfor %}
	<div style="clear: both"></div>
</div>

{% endblock %}

